<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/style.css">
  <title><%= title %></title>
</head>
<body>
  <% const name= 'himanshu' %>
  <h1>
    hello <%= name %>
  </h1>
  <h2>i m learning nodejs</h2>
  
   <%- include("./partials/nav.ejs") %>

<h2>All Blogs</h2>
  <% if (blogs.length >0){ %>
    <% blogs.map(blog =>{ %>
      <a href="/blog/<%= blog._id %> ">
      <h3> <%= blog.title %> </h3>
      <p> <%= blog.snippet %></p>
      <p> <%= blog.body %></p>
</a>

    <% }) %>

    <% } else { %>
<p>NO blogs</p>
   <% } %>

</body>
</html>